a {
  color: #4a95b4;
}

/* language nav */

.wirefm-language-nav {
  background-color: #789900;
  font-size: 0.8em;
}

.wirefm-language-nav .container {
  padding: 0;
}

.wirefm-language-nav .nav .nav-item {
  text-transform: uppercase;
}

.wirefm-language-nav .nav .nav-item a {
  color: rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 0;
  padding-bottom: 0;
}

.wirefm-language-nav .nav .nav-item:first-child a {
  border: none !important;
}

.wirefm-language-nav .nav .nav-item a:hover {
  color: rgba(255, 255, 255, 1);
}

/* main nav */

.wirefm-main-nav {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.wirefm-main-nav .navbar-nav .nav-item {
  padding: 1em 0 0.65em;
  text-transform: uppercase;
  font-size: 0.9em;
}

@media (min-width: 992px) { 
  .wirefm-main-nav .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.wirefm-main-nav .navbar-nav .nav-item.active {
  border-bottom: 5px solid #4a95b4;
}

.wirefm-main-nav {
  padding-top: 0;
  padding-bottom: 0;
}

.wirefm-main-nav .navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}

/* container */

.wirefm-page-container {
  margin-bottom: -10px;
  min-height: 500px;
  padding-bottom: 4em;
}

/* footer */

.wirefm-social-footer {
  background-color: rgba(68, 68, 68, 1);
  padding: 1em 0;
}

.wirefm-social-footer a.icon {
  margin: 0 0.3em;
}

.wirefm-social-footer a.icon img {
  width: 36px;
}

.wirefm-page-footer {
  background-color: #efefef;
}

.wirefm-page-footer h5 {
  font-weight: bold;
}

.footer-copyright {
  background: white; 
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}
